In [8]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, f1_score

In [9]:
df=pd.read_csv("clean_df.csv")
df

,Title,Platforms,Publisher,Genre,Total_Sales,USA_Sales,EUR_Sales,Japan_Sales,Rating,Release_date,Year
0,Grand Theft Auto: San Andreas,PS2,Rockstar Games,Action,20.8,9.43,0.40,0.41,9.8,26-Oct-04,2004.0
1,Grand Theft Auto V,PS4,Rockstar Games,Action,19.4,6.06,9.71,0.60,10.0,18-Nov-14,2014.0
2,Grand Theft Auto V,X360,Rockstar Games,Action,15.9,9.06,5.33,0.06,9.4,17-Sep-13,2013.0
3,Grand Theft Auto IV Read the review,X360,Rockstar Games,Action,11.1,6.80,3.11,0.14,8.6,29-Apr-08,2008.0
4,Uncharted 4: A Thief's End,PS4,Sony Interactive Entertainment,Action,10.3,4.49,3.93,0.21,9.8,10-May-16,2016.0
...,...,...,...,...,...,...,...,...,...,...,...
3279,Sid Meier's Civilization Revolution Read th...,PS3,2K Games,Strategy,0.8,0.49,0.19,0.01,3.9,8-Jul-08,2008.0
3280,Yu-Gi-Oh! The Falsebound Kingdom,GC,Konami,Strategy,0.7,0.49,0.13,0.07,2.6,4-Nov-03,2003.0
3281,Fire Emblem: Shadow Dragon Read the review,DS,Nintendo,Strategy,0.6,0.29,0.03,0.27,3.4,16-Feb-09,2009.0
3282,New Play Control! Pikmin 2,Wii,Nintendo,Strategy,0.6,0.11,0.13,0.34,2.5,10-Jun-12,2012.0
3283,Front Mission 3,PS,Square,Strategy,0.5,0.10,0.07,0.31,3.4,29-Feb-00,2000.0

In [10]:
df['Platform number'] = df.groupby('Platforms')['Platforms'].transform('count')
df['Publisher number'] = df.groupby('Publisher')['Publisher'].transform('count')
df['Genre number'] = df.groupby('Genre')['Genre'].transform('count')
#def data_encode(x_data):
#   for i in x_data.columns:
#      if(type(x_data[i][0])==str):
#          x_data[i]=x_data[i].factorize()[0]
        
#return x_data    
    
#X= df.drop(['Total_sales','Release_date','Year'],axis=1)
#y =  df['Total_sales']
#X = data_encode(X)

#X

In [15]:
X = df.drop(['Platforms','Publisher','Release_date','Genre','Title','Total_Sales','EUR_Sales','Japan_Sales','USA_Sales'],axis=1)
y =  df['Total_Sales']

X.head(20)

    Rating    Year  Platform number  Publisher number  Genre number
0      9.8  2004.0              379                59           444
1     10.0  2014.0              307                59           444
2      9.4  2013.0              398                59           444
3      8.6  2008.0              398                59           444
4      9.8  2016.0              307                25           444
5      8.9  2005.0               95                59           444
6      5.8  2009.0              516               233           444
7      4.5  2010.0              398                59           444
8      5.0  2018.0              307                25           444
9      4.2  1998.0              231                97           444
10     5.4  1998.0              231               208           444
11     3.5  2007.0              398               150           444
12     3.8  2009.0              398               150           444
13     4.5  2006.0               95                59           444
14     4.7  2007.0              516               233           444
15     3.6  2010.0              516               233           444
16     2.4  2011.0              398                15           444
17     3.8  2018.0              307               208           444
18     4.0  1996.0              231                23           444
19     2.8  2005.0              379               233           444

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3284 entries, 0 to 3283
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rating            3284 non-null   float64
 1   Year              3284 non-null   float64
 2   Platform number   3284 non-null   int64
 3   Publisher number  3284 non-null   int64
 4   Genre number      3284 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 128.4 KB

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [18]:
model = sklearn.linear_model.LinearRegression().fit(X_train, y_train)

In [20]:
predictDf = pd.DataFrame({'Total Sales actual': y_test,'Total Sales predicted':model.predict(X_test)})
predictDf=predictDf['Total Sales predicted'] = round(predictDf['Total Sales predicted'],1)

727      3.4
314      1.6
695      3.1
2653     0.6
850      1.1
        ...
1810     3.1
1236     1.1
1256    15.4
1757     2.8
2429    -0.3
Name: Total Sales predicted, Length: 657, dtype: float64

In [23]:
predictDf.to_csv("Predicted.csv")

print(r2_score(y_test,predictDf['Total Sales predicted']))

0.6534644725061933

In [24]:
predictDf

      Total Sales actual  Total Sales predicted
727                  1.7                    3.4
314                  1.0                    1.6
695                  5.1                    3.1
2653                 1.6                    0.6
850                  2.5                    1.1
...                  ...                    ...
1810                 1.4                    3.1
1236                 2.2                    1.1
1256                28.3                   15.4
1757                 4.5                    2.8
2429                 1.2                   -0.3

[657 rows x 2 columns]